@import '../../../sass-vars.scss';

.wrap {
    width: 50%;
    color: white;
    padding: 2.5rem;

    @media screen and (max-width: $normal-laptop) {
        width: 75%;
    }

    @media screen and (max-width: $large-phone) {
        width: 100%;
        padding: 1.5rem;
    }

    
    
    img {
        max-width: 345px;
        margin-bottom: 2rem;

        @media screen and (max-width: $large-phone) {
            max-width: 100%;
        }
    }

    p {
        margin-left: 9px;
        font-weight: bold;

        
    }

    .degreeClass {
        @media screen and (min-width: $imac) {
            font-size: 25px !important;
        }
    }
}