@import '../sass-vars.scss';

.wrap {
    background: #161616;

    .skillsWrap {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-content: space-between;
        align-items: center;
        grid-gap: 4rem;
        gap: 4rem;
        width: 100%;
        padding-top: 3rem;
        padding-bottom: 6rem;

        



        @media screen and (max-width: $small-laptop - 1) {
            grid-gap: 3rem;
            gap: 3rem;
        }

        @media screen and (max-width: $large-phone) {
            grid-template-columns: 1fr 1fr;
            grid-gap: 1rem;
            gap: 1rem;
            justify-content: center;
        }
    }
}

