@import '../../sass-vars.scss';

.wrap {
    background-attachment: scroll;
    background-position: top center;
    background-repeat: repeat-x;
    background-size: 3200px 460px;
    color: rgba(255, 255, 255, 0.8);
    margin-top: 1rem;
    padding: calc(460px + 6em) 0 10em 0;
    position: relative;
    text-align: center;

    &::before {
        background: $lines-color;
        content: "";
        height: 102%;
        left: 50%;
        position: absolute;
        top: calc(-1rem + 1px);
        width: 1px;
        z-index: 0;
    }
}