$title-color: rgb(213, 213, 213);
$title-lines-color: rgb(164, 164, 164);
$punchline-color: #d4d4d4e4;
$initial-overlay-color: rgba(255, 255, 255, 0.8);



$lines-color: #fb4b4b8c;
$blue-lines-color: #4498ff8c;
$main-blue: #050560;
$body-background: #101010;
$double-lines-width: 50%;

$project-card-bg: #2a2a2a;



// for media queries
$imac: 2048px;
$large-laptop: 1440px;
$normal-laptop: 1280px;
$small-laptop: 1024px;
$tablet: 768px;
$large-phone: 430px;
$iphone-x: 375px;
$iphone-se: 320px;



$section-titles-imac: 45px;